@import "another_style.css";

html {
  background-color: beige;
  font-size: 20px;
}

@media (max-width: 600px) {
  html {
    background-color: antiquewhite;
  }
}

body {
  text-align: left;
}

@media (min-width: 600px) {
  /* Increase the global font size on larger screens or windows
     for better readability */
  body {
    font-size: 130%;
  }
}

/* temp fix on image loc */
/* FIXED: 
  Using Percentages is scaling the content.
  Using px will instead set it at a FIXED point!
*/
.kip_lennie_img {
  transform: scale(1.5);
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 80px;
}

p.cats {
  font-size: 20px;
  border: 5px solid purple;
  padding: 30px;
  color: brown;
}

img {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  padding: 5px;
  width: 250px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

p {
  color:blueviolet;
}
span.the-cats {
  color: blue;
  font-weight:bold;
}

ul {
  padding: 10px;
  border: 1px solid black;
}

li {
  margin-left: 20px;
}

/* i want to try to only access/select the ul in Facts section */
/* facts.ul doesnt work */
/* boom here we go */

#facts ul {
  color: rgb(255, 0, 0);
}

ul {
  list-style-type: circle;
}

/* #<name> is an id selector */
#facts {
  background-image: linear-gradient(purple,blue);
  
}

/* '.<name>' is a class selector */
.special {
  color: rgb(0, 72, 255);
  font-weight: bold;
}

dt {
  font-size: 28px;
  font-weight: bold;
}

/* kip & lennie :) */
.kip-name {
  font-size: 24px;
  background: -webkit-linear-gradient(45deg, #09009f, #00e1ff, #00ff1e 80%);
  background-clip: padding-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lennie-name {
  font-size: 24px;
  background: -webkit-linear-gradient(45deg, #000000, #ff00f7 80%);
  background-clip: padding-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.code {
  border: 5px solid black;
  color: purple;
}

#bottom-link:link {
  color: red;
}

#bottom-link:visited {
  color: green;
}

#bottom-link:hover {
  text-decoration: green wavy underline;
}

/* comment */