html {
  background-color: beige;
  font-size: 20px;
}

p.cats {
  font-size: 20px;
  border: 5px solid purple;
  padding: 30px;
  color: brown;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 250px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

p {
  color:blueviolet;
}
span.the-cats {
  color: blue;
  font-weight:bold;
}

ul {
  padding: 10px;
  border: 1px solid black;
}

li {
  margin-left: 20px;
}

/* i want to try to only access/select the ul in Facts section */
/* facts.ul doesnt work */
/* boom here we go */

#facts ul {
  color: rgb(255, 0, 0);
}

ul {
  list-style-type: circle;
}

/* #<name> is an id selector */
#facts {
  background-image: linear-gradient(purple,blue);
  
}

/* '.<name>' is a class selector */
.special {
  color: rgb(0, 72, 255);
  font-weight: bold;
}

/* comment */